body {
	color: $black;
	background-color: #F1F1F1;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
	-webkit-transition: color .3s linear, border-color .3s linear, background-color .3s linear;
	transition: color .3s linear, border-color .3s linear, background-color .3s linear;
}

.content {
	position: relative;
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: $white;
}

.contentWrapper {
	padding-top: 160px;
}

.contentIn {
	margin: 0 auto;
}

.contentIn--full {
	margin: 0 -20px;
}

.contentIn--small {
	max-width: 720px;
}

@media (max-width: 1280px) {
	.contentWrapper {
		padding-top: 90px;
	}
}



// titles
.titlePage {
	padding: 70px 0 75px;
	font: 60px/72px $nova-bold;
	text-align: center;
}

.titlePage:first-letter {
	text-transform: uppercase;
}

.titlePage--page {
	margin-bottom: -35px;
	padding-bottom: 0;
}

.titlePage__request {
	font-size: 48px;
	line-height: 54px;
	color: #226BD3;
}

.subtitle {
	font: 48px/60px $nova-bold;
	text-align: center;
}

.subtitle--white {
	color: $white-light;
}

@media (max-width: 767px) {
	.titlePage {
		padding: 55px 0 60px;
		font-size: 48px;
		line-height: 64px;
	}

	.subtitle {
		font-size: 40px;
		line-height: 50px;
	}
}



/* clearfix */
.clear {
	overflow: hidden;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}
