// colors
$white:               #fff;
$white-light:         #FCFCFC;
$black:               #111;

$blue:                #226BD3;
$blue-hover:          #174B96;

$red:                 #FE2F2F;
$red-hover:           #D42727;

$gray:                #888888;



// transitions
$transition-fast:     .1s linear;
$transition-normal:   .3s linear;



// fonts
$nova-regular:  'ProximaNova-Regular', Arial, sans-serif;
$nova-semibold: 'ProximaNova-Semibold', Arial, sans-serif;
$nova-bold:     'ProximaNova-Bold', Arial, sans-serif;
$pt-regular:    'PTSerif-Regular', Arial, sans-serif;
