.overlay {
	position: relative;
}

.overlay__in {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.7);
}



/* main idea */
.idea {
	padding: 247px 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ideaIn {
	position: relative;
	max-width: 1040px;
	margin: 0 auto;
	font: 20px/30px $nova-semibold;
	color: $white-light;

	-webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

	h1 {
		margin-bottom: 46px;
		font: 60px/60px $nova-bold;
	}

	p {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.ideaInContent {
	a {
		color: $red;
		border-bottom: 1px solid $red;

		&:hover {
			color: $red-hover;
			border-bottom-color: transparent;
		}
	}
}

@media (max-width: 992px) {
	.idea {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.ideaIn {
		.colsFlex__col--2 {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
		}

		.custom-logo {
			display: block;
			width: 120px;
			height: 120px;
			margin: 0 auto 50px;
		}

		h1, h2, h3 {
			text-align: center;
		}
	}
}

@media (max-width: 767px) {
	.ideaIn {
		font-size: 18px;
		line-height: 27px;

		h1 {
			font-size: 36px;
			line-height: 48px;
		}
	}
}



/* what we do */
.weDo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.weDoIn {
	position: relative;
	z-index: 1;
	padding: 124px 0 220px;
}

.weDoCols {
	margin: 114px auto 0;
	justify-content: center;
}

.weDoCol {
	margin-bottom: 104px;
	text-align: center;
	font: 21px/30px $nova-regular;
	color: $white-light;

	p {
		margin-bottom: 20px;
		height: 120px;
		line-height: 120px;
	}

	img {
		vertical-align: middle;
	}
}

.weDoCol__in {
	max-width: 310px;
	margin: 0 auto;
	padding: 0 10px;
}

.weDoInfo {
	max-width: 480px;
	margin: 0 auto;
	padding-top: 33px;
	font: 20px/30px $nova-semibold;
	text-align: center;
	color: $white-light;

	a {
		color: $red;
		border-bottom: 1px solid $red;

		&:hover {
			color: $red-hover;
			border-bottom-color: transparent;
		}
	}
}

@media (max-width: 767px) {
	.weDoIn {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.weDoCols {
		margin-top: 46px;
	}

	.weDoCol {
		margin-bottom: 70px;
		font-size: 18px;
		line-height: 27px;
	}
}
