.posts {
	margin-bottom: -1px;

	.post {
		width: 25%;
		float: left;
	}

	.post:nth-child(6n - 2),
	.post:nth-child(6n - 3) {
		width: 50%;
	}
}

article.post {
	position: relative;
}

@media (max-width: 992px) {
	.posts {
		.post {
			width: 50%;

			.page-template-main-page-en & {
				width: 100%;
			}
		}
	}
}

@media (max-width: 767px) {
	.posts {
		.post {
			width: 100%;
		}

		.post:nth-child(6n - 2),
		.post:nth-child(6n - 3) {
			width: 100%;
		}
	}
}



/* header */
.postHeader {
	position: relative;
	height: 360px;
}

.postHeaderImg {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.postHeaderImg__link {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: transform .15s linear;
}

.post:hover > .postHeader .postHeaderImg__link {
	transform: scale(1.1);
}



/* post categories */
.post-categories {
	padding: 10px 20px 10px 5px;
	position: absolute;
	z-index: 2;
	bottom: -20px;
	left: 35px;
	max-width: calc(100% - 65px);

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transform: skew(20deg);
		background-color: $blue;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: -15px;
		width: 30px;
		background-color: $blue;
	}

	li {
		position: relative;
		display: inline-block;
		z-index: 2;

		&:after {
			content: ' \\';
			font: 14px/20px $nova-bold;
			color: $white;
		}

		&:last-child:after {
			display: none;
		}
	}

	a {
		font: 14px/20px $nova-bold;
		color: $white;

		&:hover {
			color: #cccccc;
		}
	}
}



/* content */
.postContent {
	height: 210px;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

.post:nth-child(3n) .postContent {
	border-right: 0;
}

@media (max-width: 767px) {
	.postContent {
		border-left: 1px solid #DDDDDD;
	}
}



/* post info */
.postContentInfo {
	position: relative;
	top: 0;
	height: 100%;
	padding: 37px 20px 50px;
	transition: top .15s linear;
}

.post:hover > .postContent .postContentInfo {
	top: -100%;
}

.postContentInfo__title {
	height: 100%;
	overflow: hidden;
}

.postContentInfo__link {
	font: 24px/32px $nova-semibold;
	color: $black;
}

.postContentInfo__date {
	position: absolute;
	bottom: 21px;
	left: 20px;
	font-size: 14px;
	font-family: $nova-regular;
	color: $gray;
}

.postContentHidden {
	display: block;
	position: relative;
	top: 0;
	height: 100%;
	padding: 37px 20px 20px;
	font: 20px/27px $nova-regular;
	color: #666666;
	background-color: #E3E8EA;
	cursor: pointer;
	transition: top .15s linear;
}

.post:hover > .postContent .postContentHidden {
	top: -100%;
}

@media (max-width: 1200px) {
	.postContentInfo__link {
		font-size: 21px;
		line-height: 27px;
	}

	.postContentHidden {
		font-size: 18px;
		line-height: 24px;
	}
}
