.searchResults {
	max-width: 720px;
	margin: 0 auto;
	padding-bottom: 50px;

	.wp-pagenavi {
		padding: 90px 0 53px;
	}

	article {
		margin-bottom: 35px;
		padding-bottom: 40px;
		border-bottom: 2px solid $black;

		&:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
}

.searchResults__title {
	margin-bottom: 10px;
	font: 32px/40px $nova-bold;

	a {
		color: $blue;

		&:hover {
			color: $blue-hover;
		}
	}
}

.searchResults__date {
	margin-bottom: 27px;
	font: 20px/30px $nova-regular;
	color: $black;
}

.searchResults__imgWrapper {
	margin-bottom: 20px;

	img {
		width: 100%;
		height: auto;
	}
}

.searchResults__info {
	font: 20px/30px $pt-regular;
	color: $black;
}

.more-link {
	color: $blue;
	border-bottom: 1px solid $blue;

	&:hover {
		color: $blue-hover;
		border-color: transparent;
	}
}

.searchResults__footer {
	margin-top: 20px;
}

.searchResults__meta {
	position: relative;
	padding-left: 100px;
	margin-bottom: 15px;
	font-family: $nova-regular;
	color: $black;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		margin-right: 10px;
		color: $blue;

		&:hover {
			color: $blue-hover;
		}
	}
}

.searchResults__metaTitle {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	font-family: $nova-semibold;
}



// person
.searchPerson {
	text-align: center;

	img {
		width: 220px;
	}
}



// page
.searchPage {

}



/* search empty */
.searchContent {
	font: 20px/30px $pt-regular;
	color: $black;

	.search-form {
		padding-bottom: 100px;
	}

	.search-submit {
		width: 100%;
		height: 50px;
		margin-top: 20px;
		padding: 0;
		border: 0;
		background-color: $red;
		transition: background-color .3s linear;
		border-radius: 3px;
		cursor: pointer;

		&:hover {
			background-color: $red-hover;
		}

		.screen-reader-text {
			font: 18px/50px $nova-bold;
			color: $white;
		}
	}
}

.searchContent__info {
	margin-bottom: 30px;
}

.search-form input {
	width: 100%;
	max-width: none;
	height: 50px;
	padding: 6px 15px;
	font-size: 16px;
	font-family: $nova-regular;
	background: $white;
	border: 1px solid #CACACA;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.15);
	border-radius: 3px;
}



/* search header */
.searchHeader {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -8px;
	font-size: 0;
	-webkit-transition: z-index .2s linear, margin $transition-normal;
	transition: z-index .2s linear, margin $transition-normal;

	.is-scrolled & {
		margin-top: -25px;
	}

	.navigationWrapper.is-active & {
		z-index: 3;
	}
}

.circle,
.search__icon {
  position: relative;
  display: block;
}

.search__icon {
	position: absolute;
	top: 0;
	left: 100%;
	margin-top: 1px;
	margin-left: 15px;
	cursor: pointer;
	transition: opacity .3s ease,-webkit-transform .3s ease;
	transition: opacity .3s ease,transform .3s ease;
	transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
	width: 40px;
	height: 40px;
	padding: 6px;

	&:hover {
		.circle {
			border-color: $blue;
		}
	}
}

.circle {
	height: 28px;
	width: 28px;
	border-radius: 100%;
	border: 4px solid $black;
	background: $white;
	z-index: 1;
	transition: transform .3s ease,border-color .3s ease;
	transition: transform .3s ease,-webkit-transform .3s ease,border-color .3s ease;

	.is-active & {
		-webkit-transform: scale(.02);
		-ms-transform: scale(.02);
		transform: scale(.02);
		-webkit-transform-origin: 30% 40%;
		-ms-transform-origin: 30% 40%;
		transform-origin: 30% 40%;
		background: $blue!important;
		border-color: $blue!important;
	}
}

.handle {
	position: absolute;
	top: 24px;
	left: 9px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: transform .3s ease,background-color .3s ease;
	transition: transform .3s ease,-webkit-transform .3s ease, background-color .3s ease;
}

.handle,
.handle:after {
	background-color: $black;
	width: 35px;
	height: 4px;
	display: block;
}

.search__icon:hover .handle,
.search__icon:hover .handle:after {
	background-color: $blue;
}

.handle:after {
	content: "";
	z-index: -1;
	transition: -webkit-transform .3s ease,background-color .3s ease;
	transition: transform .3s ease,background-color .3s ease;
	transition: transform .3s ease,-webkit-transform .3s ease,background-color .3s ease;

	.is-active & {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

@media (max-width: 1100px) {
	.searchHeader {
    margin-top: -25px;
	}
}

@media (max-width: 992px) {
	.searchHeader {
		line-height: 50px;
		height: 50px;
	}

	.search__icon {
		margin-left: 7px;
	}
}



.searchHeader {
	.search-form {
		position: relative;
		float: right;
		width: 0;
		overflow: hidden;
		transition: width .2s linear;
	}

	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 100px;
		height: 50px;
		background-color: $red;
		transition: background-color .3s linear;
		border-radius: 0 3px 3px 0;
		cursor: pointer;

		&:hover {
			background-color: $red-hover;
		}

		.screen-reader-text {
			font: 16px/50px $nova-bold;
			color: $white;
		}
	}
}

.navigationWrapper.is-active .search-form {
	width: 100%;
	padding-left: 10px;
}

@media (max-width: 992px) {
	.navigationWrapper.is-active .search-form {
		padding-left: 20px;
	}
}
