div.wpforms-container-full {
	margin: 0 auto;
	padding-bottom: 100px;
}

.wpforms-field-container {
	font: 16px/20px 'ProximaNova-Regular', Arial, sans-serif;
	font-weight: normal;
	color: #111111;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
	font-weight: normal;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
	width: 100%;
	max-width: none;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #CACACA;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.15);
	border-radius: 3px;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
	max-width: 100%;
	min-width: 100%;
	max-height: 300px;
	min-height: 120px;
	height: 200px;
	background: #FFFFFF;
	border: 1px solid #CACACA;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.15);
	border-radius: 3px;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
	margin-top: 20px;
}

div.wpforms-container-full .wpforms-form input[type=submit],
div.wpforms-container-full .wpforms-form button[type=submit],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
	width: 100%;
	height: 50px;
	padding: 0;
	border: 0;
	font: 18px/50px 'ProximaNova-Bold', Arial, sans-serif;
	color: #ffffff;
	background-color: #FE2F2F;
	transition: background-color .3s linear;
	border-radius: 3px;
}

div.wpforms-container-full .wpforms-form input[type=submit]:hover,
div.wpforms-container-full .wpforms-form button[type=submit]:hover,
div.wpforms-container-full .wpforms-form .wpforms-page-button:hover {
	background-color: #D42727;
	border: 0;
}
