.glossary {
  margin: 0 -20px;
  padding: 0 0 73px;
}

.glossary__in {

}

.glossary__title {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: 0;
  }
}

.glossary__link {
  display: inline-block;
  padding: 12px 0 10px;
  font: 21px/27px $nova-semibold;
  color: $black;

  &:hover {
    color: $red;
  }
}

@media (max-width: 767px) {
  .glossary {
    padding: 0 0 53px;
  }

  .glossary__title {
    padding: 5px 0;
  }

  .glossary__link {
    font-size: 18px;
    line-height: 24px;
  }
}



.glossaryCatalog {
  padding: 0 20px;
  background-color: $white;
  border-bottom: 1px solid #ddd;
}

.glossaryCatalog__in {
  height: 60px;
  line-height: 60px;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.glossaryCatalog__letter {
  display: inline-block;
  width: 20px;
  height: 32px;
  font: 16px/32px $nova-semibold;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  transition: all $transition-fast;

  &:not(.is-disabled) {
    &:hover {
      font-size: 20px;
      color: $red;
    }
  }

  &.is-disabled {
    cursor: default;
  }
}

@media (max-width: 767px) {
  .glossaryCatalog {
    display: none;
  }
}



.glossaryList {
  padding-top: 70px;
}

.glossaryList__item {
  margin: 0 0 40px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.glossaryList__letter {
  font: 36px/42px $nova-bold;
  color: $red;
}

@media (max-width: 767px) {
  .glossaryList {
    padding-top: 0;
  }

  .glossaryList__letter {
    font-size: 30px;
    line-height: 36px;
  }
}
