.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	height: 160px;
	border-bottom: 1px solid #DDDDDD;
	-webkit-transition: height $transition-normal, box-shadow $transition-normal;
	transition: height $transition-normal, box-shadow $transition-normal;

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.18);
		@include hide();
	}

	&.is-scrolled {
		height: 90px;

		&:after {
			@include show();
		}

		.custom-logo-link {
			margin-top: -38px;
		}

		.custom-logo {
			width: 75px!important;
			height: 75px!important;
		}
	}

	.contentIn {
		height: 100%;
	}

	.custom-logo-link {
		position: absolute;
		top: 50%;
		margin-top: -60px;
		left: 20px;
		display: inline-block;
		font-size: 0;
		-webkit-transition: margin $transition-normal;
		transition: margin $transition-normal;
	}

	.custom-logo {
		width: 120px!important;
		height: 120px!important;
		-webkit-transition: width $transition-normal, height $transition-normal;
		transition: width $transition-normal, height $transition-normal;
	}
}

@media (max-width: 1100px) {
	.header {
		height: 90px;

		.custom-logo-link {
			margin-top: -7px;
			top: 15px;
			left: 15px;
		}

		.custom-logo {
	    width: 75px !important;
	    height: 75px !important;
		}

		&.is-scrolled {
			.custom-logo-link {
				margin-top: -7px;
			}
		}
	}
}

@media (max-width: 992px) {
	.header {
		&.search-opened {
			.custom-logo-link {
				opacity: 0;
			}
		}

		.contentIn {
			line-height: 90px;
			text-align: center;
		}

		.custom-logo-link {
			position: relative;
			z-index: 3;
			top: auto;
			left: auto;
			margin-top: -3px;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			-webkit-transition: opacity .2s linear;
			transition: opacity .2s linear;
		}

		&.is-scrolled {
			.custom-logo-link {
				margin-top: -3px;
			}
		}
	}
}



/* social nav */
.social-navigation {
	&.social-navigation-header {
		position: absolute;
		top: 10px;
		right: 15px;
		margin-top: 0;
	}
}
