.header {
	position: relative;
	z-index: 10;
	border-bottom: 1px solid #DDDDDD;

	.contentIn {
		height: 160px;
	}

	.custom-logo-link {
		position: absolute;
		top: 50%;
		margin-top: -60px;
		left: 20px;
		display: inline-block;
		font-size: 0;
	}

	.custom-logo {
		width: 120px!important;
		height: 120px!important;
	}
}

.logo-daexit {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 145px;
	margin-top: -20px;
	color: $black;
	font: 32px/40px $pt-regular;

	span {
		display: inline-block;
	}
}

.logo-daexit-link {
	color: $black;

	&:hover {
		color: $blue;
	}
}



/* social nav */
.social-navigation {
	&.social-navigation-header {
		position: absolute;
		top: 10px;
		right: 15px;
		margin-top: 0;
	}
}
