.su-slider {
  margin: 40px 0 36px!important;
  width: 140%!important;
  margin-left: -20%!important;

  .su-slider-pagination {
    top: auto;
    bottom: 40px!important;
    margin-top: 0;
  }

  .su-slider-slides {
    a {
      border: 0;
    }
  }
}

@media (max-width: 1024px) {
  .su-slider {
    width: auto!important;
    margin-left: -120px!important;
    margin-right: -120px!important;
  }
}

@media (max-width: 992px) {
  .su-slider {
    margin-left: -20px!important;
    margin-right: -20px!important;
  }
}
