.su-slider {
  margin: 40px 0 36px!important;
  width: 140%!important;
  margin-left: -20%!important;

  .su-slider-pagination {
    top: auto;
    bottom: 40px!important;
    margin-top: 0;
  }

  .su-slider-slides {
    a {
      border: 0;
    }
  }
}
